* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* VARIABLES */

:root {
  --primary-color: #4caf4f;
  --secondary-color: #263238;
  --info-color: #2194f3;
  --netural-color: #263238;
  --netural-grey: #717171;
  --netural-d-grey: #4d4d4d;
  --banner-color: #f5f7fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.header {
  width: 100%;
  padding: 15px 0;
  background-color: white;
}

/* MENU */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-left span {
  font-size: 24px;
  font-weight: 600;
}

.menu-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--netural-d-grey);
}

.menu-item:hover {
  color: var(--primary-color);
  transition: color 0.3s ease;
}
.menu-item:nth-child(6) {
  color: white;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.menu-item:nth-child(6):hover {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

/* BANNER */

.banner {
  padding: 20px 100px;
  background-color: var(--banner-color);
}

.banner-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
}

.banner-content_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner-content_left h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--netural-color);
}

.banner-content_left span {
  color: var(--primary-color);
}

.banner-content_left p {
  font-size: 16px;
  color: var(--netural-grey);
}

.banner-content_left button {
  width: fit-content;
  background-color: var(--primary-color);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.banner-content_right {
  display: flex;
  justify-content: center;
}

.banner-content_right img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

/* OUR CLIENTS */

.our_clients {
  margin-top: 40px;
}

.our_clients h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--netural-d-grey);
}

.our_clients p {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--netural-grey);
}

.clients-logos {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clients-logos img {
  width: 80px;
  height: 40px;
}

/* COMMUNITY */

.community {
  margin-top: 40px;
}

.community h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--netural-d-grey);
}

.community p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: var(--netural-grey);
}

.community_badges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.badge img {
  width: 50px;
  height: auto;
}

.title_badge {
  width: 150px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  color: var(--netural-d-grey);
}

.text_badge {
  text-align: center;
  width: 300px;
  line-height: 25px;
  font-size: 16px;
  color: var(--netural-grey);
}

/* HERO SECTION */

.case-study {
  margin-top: 40px;
}

.case-study-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.case-study-content img {
  width: 100%;
  height: 300px;
  height: auto;
  object-fit: cover;
}

.case-study-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.case-study-text h2 {
  font-size: 25px;
  width: 440px;
  line-height: 40px;
  font-weight: 600;
  color: var(--netural-d-grey);
}

.case-study-text p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: var(--netural-grey);
}

.case-study-text button {
  width: fit-content;
  background-color: var(--primary-color);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
}

.case-study-text button:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* STATS */

.stats {
  background-color: var(--banner-color);
  margin-top: 40px;
  padding: 40px 0;
}

.stats-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.stats-content h2 {
  width: 280px;
  color: var(--netural-d-grey);
  font-size: 25px;
  line-height: 30px;
}

.stats-content span {
  color: var(--primary-color);
}

.stats-content p {
  font-size: 16px;
  color: var(--netural-grey);
  margin-top: 10px;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}

.stats-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stats-item-content h3 {
  font-size: 20px;
  color: var(--netural-d-grey);
  font-weight: bold;
  margin-bottom: 5px;
}

.stats-item-content span {
  font-size: 16px;
  color: var(--netural-grey);
}

/* TESTIMONIAL */

.testimonial {
  margin-top: 40px;
}

.testimonial-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.testimonial-content img {
  width: 100%;
  height: 300px;
  height: auto;
  object-fit: cover;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial-text h2 {
  font-size: 25px;
  width: 440px;
  line-height: 40px;
  font-weight: 600;
  color: var(--netural-d-grey);
}

.testimonial-text p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: var(--netural-grey);
}

.testimonial-text button {
  width: fit-content;
  background-color: var(--primary-color);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
}

.testimonial-text button:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* BLOG */

.blog {
  margin-top: 40px;
  padding: 40px 0;
  background: var(--banner-color);
}

.blog-img {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}

.blog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.blog-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-text h2 {
  font-size: 30px;
  width: 500px;
  line-height: 40px;
  font-weight: 600;
  color: var(--netural-d-grey);
}

.blog-text p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: var(--netural-grey);
}

.blog-author {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-author h2 {
  color: var(--primary-color);
}

.blog-author span {
  color: var(--netural-grey);
  font-size: 14px;
}

.blog-medals {
  display: flex;
  align-items: center;
  gap: 40px;
}

.blog-medals img {
  transition: transform 0.2s ease;
}
.blog-medals img:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.blog-medals button {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
}

.blog-medals button:hover {
  text-decoration: underline;
  transition: 0.3s ease;
  cursor: pointer;
}

/* NEWS */

.news {
  margin-top: 40px;
}

.news-text > h2 {
  text-align: center;
  font-size: 25px;
}

.news-text > p {
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
  width: 650px;
  font-size: 16px;
  color: var(--netural-grey);
  margin-top: 10px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.news-item {
  position: relative;
  transition: transform 0.3s ease;
}

.news-item:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.news-item img {
  width: 100%;
  height: 250px;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.news-item-content {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--banner-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item-content h3 {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  color: var(--netural-d-grey);
  font-weight: 600;
  margin-bottom: 10px;
}

.news-item-content p {
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.news-item-content p:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}
