<div class="container">
  <!-- MENU -->
  <div class="menu">
    <!-- MENU LEFT -->
    <div class="menu-left">
      <a href="" class="logo">
        <img src="/images/logo.svg" alt="Logo" />
      </a>
      <a href="" class="textLogo">
        <span>Nextcent</span>
      </a>
    </div>

    <!-- MENU RIGHT -->
    <div class="menu-right">
      <a href="" class="menu-item">Home</a>
      <a href="" class="menu-item">Features</a>
      <a href="" class="menu-item">Community</a>
      <a href="" class="menu-item">Blog</a>
      <a href="" class="menu-item">Pricing</a>
      <a href="" class="menu-item">Register Now</a>
    </div>
  </div>
</div>
